*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-body {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1470342495351-a5f90c5011cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-size: cover;
}

.saw-stop{
  height: 10vh;
  width: 9vw;
  background-color: transparent;
}

.main-header{
  height:10vh;
  width: 100vw;
  display: flex;
  background-color: crimson;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}

.tool-container{
  height: 20vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 3vh;
  margin-left: 150px;
  border: 2px solid black;
  background-color: rgb(255, 255, 255, .4);
  box-shadow:10px 10px 11px black;
}

.tool-container:hover{
  cursor: pointer;
  border: 2px solid yellow;
}

.name-and-text{
  color: white;
  text-shadow: 4px 4px 6px #000000, 0 0 5px darkblue;;
  padding-left: 10px;
  border: cyan;
}

.tool-price{
  padding: 15px;
  text-shadow: 4px 4px 6px #000000, 0 0 8px greenyellow;
}

.delete-tool-button{
  width: 60px;
  height: 45px;
  background-color: #fed135;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 8px;
}

.delete-tool-button:hover{
  background-color: crimson;
}

.toggle-inputs{
  transition: all .5s;
}

input{
  padding: 2px;
  border-radius: 5px;
  margin: 3px;
}

.cancel-addtool{
  border-radius: 10px;
  background-color: skyblue;
  font-weight: bold;
  border: 2px solid black;
  padding: 3px;
  margin: 3px;
}

.add-new-tool-button{
  border-radius: 10px;
  background-color: rgba(30, 196, 113, 0.815);
  font-weight: bold;
  border: 2px solid black;
  padding: 3px;
  margin: 3px;
}


button{
  cursor: pointer;  
}

.display-image{
  width: 150px;
  height: 120px;
  padding-left: 18px;
}

.sum-of-price{
  text-shadow: 4px 4px 6px #000000, 0 0 5px darkblue;;
  font-weight: bold;
  color: white;
  padding: 20px;
}

.footer{
  height: 10vh;
  width: 100vw;
  background-color:crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
 
}

